/* PC */

@media (min-width: 64em) {
    
}

/* Tablet */

@media (min-width: 46.25em) and (max-width: 63.9375em) {
   
}

/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .btn {
        width: 100%;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-infor {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #footer .social-list {
        font-size: 32px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Mobile */

@media (max-width: 46.1875em) {
    .s-col-full {
        width: 100% !important;
    }

    #header .search-button {
        display: none;
    }
    
    #header {
        overflow: hidden !important;
    }
    
    #header .mobile-menu-button {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li:first-child:hover a {
        background-color: #ccc;
        color: #000;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:hover > a, 
    #nav .subnav li:hover a {
    background-color: #000;
    color: #fff;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

    .s-contact-input {
        margin-top: 8px !important;
    }

}

